

/* Suche  **********************************************************************
*******************************************************************************/
#header .search input[type=text] {
  float: left;
  width: 140px;
  height: 22px;
  margin: 0 4px 0 0;
  padding: 0 0 0 7px;
  line-height: 0;
}
#header .search a.search span {
  display: block;
}


/* E-Mail **********************************************************************
*******************************************************************************/
.email dl.data dd input[type=text] {
  float: left;
  width: 276px;
  height: 20px;
  border: 0;
  border-top-width: 1px;
  border-top-style: solid;
  border-left-width: 1px;
  border-left-style: solid;
}


/* Form 1 **********************************************************************
*******************************************************************************/
.xform {
  padding: 7px 15px 15px 15px;
}
.xform1.data:after, 
.xform1.action:after {
  clear: both;
  content: '.';
  display: block;
  height: 0;
  visibility: hidden;
}
.xform1.data {
  clear: both;
  width: 100%;
  margin-top: 10px;
}
.xform form dl.form1.data:first-child {
  margin-top: 0;
}
.xform1.data .fafter, 
.xform1.data .fbefore, 
.xform1.data .fextra {
  clear: both;
  display: block;
}
.xform1.data .flabel, 
.xform1.data .felement {
  display: block;
  float: left;
  width: 80px;
}
.xform1.data .felement {
  float: right;
  width: 253px;
}
.xform1.data-indent .flabel {
  width: 60px;
  margin-left: 20px;
}
.xform1-reverse.data .flabel, 
.xform1-reverse.data .felement {
  float: left;
  width: 80px;
}
.xform1-reverse.data .flabel {
  float: right;
  width: 253px;
}
.xform1b.data .flabel {
  width: 174px;
}
.xform1b.data .felement {
  width: 163px;
}
.xform1b.data label {
  margin-right: 3px;
}

/* Checkbox Reverse */
.xform1-reverse.xform-checkbox .flabel {
  width: 248px;
}
.xform1-reverse.xform-checkbox .felement {
  width: 82px;
  text-align: right;
}

/* Captcha */
.xform1.xform-captcha .fextra .xform-captcha {
  display: block;
  margin-left: 88px;
  padding-top: 5px;
}
.xform1.xform-captcha .fextra .xform-captcha img {
}


.xform1.action {
  text-align: right;
}
.xform1.action li {
  display: inline;
}






/* Form - Elemente *************************************************************
*******************************************************************************/
.xform .xform1.xform-date input[type=text],  
.xform .xform1.xform-number input[type=number], 
.xform .xform1 input[type=text], 
.xform .xform1 input[type=password], 
.xform .xform1 select[multiple=multiple], 
.xform .xform1 textarea, 
.xform .xform2 input[type=text], 
.xform .xform2 textarea {
  width: 252px;
  height: 22px;
  padding: 0 6px;
  border: 0;
  border-top-width: 1px;
  border-top-style: solid;
  border-left-width: 1px;
  border-left-style: solid;
  vertical-align: top;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.xform .xform1 select {
  width: 252px;
}
.xform .xform1 select[multiple=multiple] {
  height: auto;
}
.xform .xform1 textarea, 
.xform .xform2 textarea {
  padding-top: 6px;
  padding-bottom: 6px;
  height: 100px;
}
.xform .xform2 textarea {
  height: 50px;
}

.xform .xform1.xform-date input[type=text], 
.xform .xform2 input[type=text],  
.xform .xform2 textarea {
  float: left;
  width: 82px;
  margin-right: 6px;
}
.xform .xform1.xform-number input[type=number] {
  float: left;
  width: 42px;
  margin-right: 6px;
}
.xform .xform1b input[type=text] {
  width: 163px;
}

.xform .xform1.xform-submit {
  text-align: right;
}



.data.sl1-navi-butler .navi-butler, 
.data.fdate1-sl3-sl1-navi-butler .navi-butler, 
.data.fnumber1-fwording1-fnavi-butler .navi-butler {
  padding-top: 10px;
}
.data.sl1-navi-butler .sl1, 
.data.fdate1-sl3-sl1-navi-butler .sl3 {
  float: left;
}
.data.fdate1-sl3-sl1-navi-butler .sl1 {
  float: right;
}

.data.fsl1-fnumber1-fwording1 .fsl1.w5 {
  float: left;
  margin-right: 10px;
}
 
.data.fsl1-fsl1 .fsl1.w5, 
.data.sl1-fdate1-sl3 .sl1.w5 {
  float: left;
  margin-right: 10px;
}

.data.fnumber1-sl1 .sl1 {
  float: left;
}




/* Formular 2 spaltig **********************************************************
*******************************************************************************/

.design2col .xform1.data.xform-checkbox .flabel,
.design2col .xform .felement,
.design2col .xform .xform1.xform-date input[type="text"], 
.design2col .xform .xform1.xform-number input[type="number"], 
.design2col .xform .xform1 input[type="text"], 
.design2col .xform .xform1 input[type="password"], 
.design2col .xform .xform1 select[multiple="multiple"], 
.design2col .xform .xform1 textarea, 
.design2col .xform .xform2 input[type="text"], 
.design2col .xform .xform2 textarea {
width:600px;
}

.design2col .xform .xform-checkbox .felement,
.design2col .xform1.data .flabel {
    width: 100px;
}



/* Einfaches Suchform **********************************************************
*******************************************************************************/
.xform-search-small {
  padding: 0 10px 10px 10px;
  overflow: hidden;
}
.xform-search-small .data .flabel, 
.xform-search-small .data .felement {
  float: none;
  width: auto;
}
.xform-search-small .data.xform-text {
  float: left;
}
.xform-search-small .data.xform-submit {
  float: right;
}
.xform-search-small .data.xform-text input[type="text"] {
  width: 100%;
}



.sidebar .xform-search-small .data.xform-text {
  float: left;
  width: 230px;
}
.sidebar .xform-search-small .data.xform-text:after {
  clear: none;
}
.sidebar .xform-search-small .data.xform-text .flabel {
  display: none;
}
.sidebar .xform-search-small .data.xform-submit {
  clear: none;
  width: auto;
}
.sidebar .xform-search-small .data.xform-submit input {
  width: 22px;
}