/* Flyout Allgemein  ***********************************************************
*******************************************************************************/
.flyout {
  display: none;
  position: absolute;
  width: 100%;
  z-index: 10000;
}

.flyout > .content {
  padding: 6px;
  -moz-box-shadow: 1px 1px 3px #b4b4b4;
  -webkit-box-shadow: 1px 1px 3px #b4b4b4;
  box-shadow: 1px 1px 3px #b4b4b4;
}

li.hover .flyout {
  display: block;
}
li.hover ul li .flyout {
  display: none;
}
li.hover ul li:hover .flyout {
  display: block;
}
li.flyouthover:hover .flyout {
  display: block;
}

.flyout .grid2col {
  width: auto;
}
.flyout .grid2col .column.first {
  width: 110px;
}
.flyout .grid2col .column.last {
  width: 456px;
}
.flyout .items dd {
  margin-bottom: 6px;
}
.flyout .items dd:last-child {
  margin-bottom: 0;
}

#function .sl1b .flyout {
  width: 600px;
}

.grid2col.header .sl1 {
  margin-bottom: -7px;
}
.grid2col .last .sl1 {
  min-width: 248px;
}
.sl1b .flyout {
  width: 500px;
}
.sl1.sl-r .flyout {
  right: 0;
}
.sl2 .flyout,
.sl3 .flyout, 
.sl4 .flyout, 
#navi-main .flyout {
  padding-top: 10px;
}
.sl2 .flyout {
  left: 50%;
  margin-left: -50px;
  width: 100px;
  
  left: -20px;
  margin-left: 0;
  width: auto;
}
.sl3 .flyout {
  left: 50%;
  margin-left: -90px;
  width: 180px;
}
.sl3 .flyout > .content {
  padding: 0;
}

.sl4 .has-flyout {
  position: relative;
}
.sl4 .flyout {
  left: 50%;
  margin-left: -180px;
  width: 360px;
}
.sl4 .output {
  position: relative;
  padding: 10px 50px 10px 10px;
  background-color: #f6f7f7;
}
.sl4 .output .close {
  position: absolute;
  top: 10px;
  right: 10px;
}

#navi-main .flyout {
  left: -27px;
  width: 600px;
}

/*
.sl1 .flyout .content {
  max-height: 200px;
  overflow-y: scroll;
  overflow-x: hidden;
}
*/


dl.data {
  width: 100%;
  overflow: hidden;
}
dl.data dt, 
dl.data dd {
  display: block;
  float: left;
}
dl.data dt {
  clear: both;
  width: 54px;
}
dl.data dd {
  width: 320px;
}
dl.data.normal dt {
  width: auto;
  margin-bottom: 1em;
  font-weight: bold;
}
dl.data.normal dd {
  float: none;
  width: auto;
  margin: 0 0 1em 150px;
}

/* Eintraege pro Seite  ********************************************************
*******************************************************************************/
.flyout .entries.perpage .entry {
  display: block;
  padding: 0 6px;
  background-color: #f6f7f7;
  border-bottom: 1px solid #fff;
  line-height: 25px;
}
.flyout .entries.perpage .entry:hover {
  background-color: #06a9d6;
}
.flyout .entries.perpage .entry:hover a {
  color: #fff;
}


/* Header  *********************************************************************
*******************************************************************************/
.header {
  margin-bottom: 12px;
  padding-top: 16px;
}

.project-name-view .header {
  margin-top: 10px;
  padding: 4px;
  background-color: #fff;
}


/* Einstellungen der Resultate  ************************************************
*******************************************************************************/
.setting, 
.setting-layout {
  margin-bottom: 18px;
}
.setting {
  padding: 8px 0;
  background-color: #cfdce2;
}
.setting .first > ul {
  margin-left: 9px;
}
.setting .last > ul, /* neu ab 14.10.2011 */
footer .setting .last > ul, 
.setting-layout .last > ul {
  float: right;
  margin-right: 9px;
}


/* Entries *********************************************************************
*******************************************************************************/
.entries .entry {
  display: block;
  margin-bottom: 8px;
}
.entries .entry article {
  position: relative;
  padding: 10px;
}
.entries .entry article header figure {
/*
  position: absolute;
  top: 15px;
  left: 10px;
*/
  float: left;
}

.entries .entry article .name {
  margin-right: 7px;
  padding-right: 7px;
  border-right-width: 1px;
  border-right-style: solid;
  font-weight: bold;
}
.entries .entry article .name.alone {
  border-right-width: 0;
}
.entries .entry article header .title {
  display: inline-block;
  padding: 5px 0;
}
.entries .entry article header .entries .entry .title {
  padding: 0;
}
.entries .entry article footer {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
}

/* View - Block ------------------------------------ */
.entries.view-block .entry article header hgroup, 
.entries.view-block .entry article section.content {
  margin: 0 50px 0 100px;
}
.entries.view-block .entry-email article header hgroup {
  margin-right: 0;
}
.email-drafts .entries .entry-email article header hgroup, 
.email-drafts .entries .entry article section.content {
  margin-left: 50px;
}

.entry article header hgroup.scope.one, 
.entry article section.content.scope.one {
  margin-left: 50px;
}
.entry article header hgroup.scope.two, 
.entry article section.content.scope.two {
  margin-left: 100px;
}

/* View - List ------------------------------------ */
.entries.view-list .entry article {
  padding: 0;
}
.entries.view-list .entry article header a.detail {
  display: block;
  padding: 10px;
}
.entries.view-list .entry article header figure ~ hgroup, 
.entries.view-list .entry article section.content {
  margin: 0 50px;
}
.entries.view-list .entry.project-file article header figure ~ hgroup, 
.entries.view-list .entry.project-file article section.content, 
.entries.view-list .entry.project-folder article header figure ~ hgroup, 
.entries.view-list .entry.project-folder article section.content {
  margin-right: 150px;
}
.entries.view-list .entry article footer {
  right: 30px;
  top: 25%;
  height: auto;
}

/* View - Matrix ------------------------------------ */
.entries.view-matrix > .entry {
  float: left;
  width: 370px;
  margin-right: 20px;
}
.entries.view-matrix > .entry article {
  min-height: 82px;
}
.entries.view-matrix > .entry:nth-child(3n) {
  margin-right: 0;
}
.entries.view-matrix .entry article header figure ~ hgroup, 
.entries.view-matrix .entry article section.content {
  margin: 0 50px;
}


/* Flyout */
.flyout .entries .entry {
  margin-bottom: 1px;
  white-space: nowrap;
  overflow: hidden;
}
.flyout .entries .entry:hover {
  cursor: pointer;
}
.flyout .entries .entry.split-b {
  margin-bottom: 0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
.flyout .entries .entry a, 
.flyout .entries .entry label, 
.flyout .entries .entry .wrapper {
  display: block !important;
  padding: 6px 30px 6px 6px !important;
}
.flyout .entries .entry .wrapper {
  padding-right: 6px !important;
}
.flyout .entries .entry .wrapper a {
  display: inline !important;
  padding: 0 6px 0 0 !important;
}
.flyout .entries .entry .wrapper span {
  padding: 0 !important;
}
.flyout .entries .entry .wrapper .links {
  float: right !important;
}
.flyout .entries .entry .wrapper .links a {
  margin-right: 6px !important;
  border-right: 1px solid #ccc !important;
}
.flyout .entries .entry .wrapper .links a:last-child {
  margin-right: 0 !important;
  padding-right: 0 !important;
  border-right: 0 !important;
}
.flyout .entries .entry label:hover, 
.flyout .entries .entry .wrapper:hover {
  cursor: pointer;
}
.flyout .entries .entry .yform-checkbox {
  margin-right: 4px;
}
.flyout .entries .entry .name {
  margin-right: 6px;
  padding-right: 6px;
  border-right-style: solid;
  border-right-width: 2px;
}
.flyout .entries .entry .wrapper .name {
  border-right-width: 0;
  font-weight: bold !important;
}
.sl2b .flyout .entries .entry .wrapper .name {
  display: block;
  min-width: 400px;
  margin-right: 10px;
}
.flyout .entries .entry .info {
  margin-right: 14px;
}
.flyout .entries .entry .title {
  white-space: nowrap;
}



/* Sidebar  ********************************************************************
*******************************************************************************/
.sidebar {
  position: fixed;
  right: 0;
  top: 0;
  width: 400px;
  height: 100%;
  border-left-width: 3px;
  border-left-style: solid;
  overflow: hidden;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.sidebar2 {
  right: 300px;
}
.sidebar3 {
  right: 600px;
}


.sidebar .navi {
  position: relative;
  display: block;
  float: left;
  width: 100%;
  padding: 22px 0 27px 0;
}
.sidebar .navi li {
  display: block;
  float: left;
  margin-left: 12px;
}
.sidebar .navi li.last {
  float: right;
}
.sidebar .navi li.lev1 a {
  display: block;
  height: 30px;
  text-indent: -1000em;
}
.sidebar .navi li a.close {
  position: absolute;
  right: 10px;
  top: 24px;
}

.sidebar .hl3 {
  padding: 9px 8px;
}
.sidebar .list {
  padding: 9px 0;
}
.sidebar .list .item {
  display: block;
}
.sidebar .list .item a {
  display: block;
  padding: 0 8px;
}
.sidebar .list .item .block {
  display: block;
}
.sidebar .list .item .iblock {
  display: inline-block;
}



/* Aktionen  *******************************************************************
*******************************************************************************/
ul.actions li.action {
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
ul.actions li.last {
  border-bottom-width: 0;
}
ul.actions li.action a {
  display: block;
  text-indent: -1000em;
}
ul.actions li.action a.close {
  height: 60px;
}
ul.actions li.action a.up, 
ul.actions li.action a.down {
  height: 19px;
}

.popbox ul.actions {
  padding: 5px 15px 15px 15px;
}
.popbox ul.actions li {
  display: inline;
  margin-right: 10px;
}

/* E-Mail **********************************************************************
*******************************************************************************/
.email {
}


/* Kalender  *******************************************************************
*******************************************************************************/

.tooltipbox p.close{
  position: absolute;
  top: 14px;
  right: 14px;
}



/* Kalender  *******************************************************************
*******************************************************************************/
.calendar {
}

.calendar header.header {
  padding: 8px 15px;
  margin-bottom:0px;
}
.calendar header.header .info {
  font-style: italic;
  text-align: center;
}
.calendar header.header .pagination {
  float: right;
}

.calendar div.header {
  margin: 0 15px;
  padding: 15px 0;
}

/******************************************************************** Day */
.calendar.view-day .allday .entry {
  margin-bottom: 1px;
  padding-left: 8%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.calendar.view-day .allday .label {
  display: block;
  padding: 2px 5px;
}
.calendar.view-day .allday a:hover {
  text-decoration: underline;
}


.calendar.view-day .wrapper {
  position: relative;
  margin: 0 15px 15px 15px;
  height: 781px;
  overflow-y: scroll;
}
.calendar.view-day .grid, 
.calendar.view-project-stream .grid {
  border-width: 1px;
  border-style: none solid solid solid;
}
.calendar.view-day .grid .hour, 
.calendar.view-project-stream .grid .day {
  display: inline-block;
  float: left;
  border-width: 1px;
  border-style: solid none none none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.calendar.view-day .grid .hour.title, 
.calendar.view-project-stream .grid .day.title {
  width: 8%;
  height: 60px;
  padding-right: 6px;
  border-right-style: solid;
  text-align: right;
}
.calendar.view-project-stream .grid .day.title {
  border-right: 0;
  clear: both;
}
.calendar.view-day .grid .hour.box, 
.calendar.view-project-stream .grid .day.box {
  width: 92%;
  height: 31px;
  margin-bottom: 29px;
  border-bottom-style: dashed;
}
.calendar.view-project-stream .grid .day.title, 
.calendar.view-project-stream .grid .day.box {
  height: auto;
  min-height: 30px;
  margin-bottom: 0;
  border-bottom: 0;
}
.calendar.view-project-stream .grid .day.box {
  position: relative;
  border-left-style: solid;
}

.calendar.view-day .events {
  position: absolute;
  top: 0px;
  left: 8%;
}
.calendar.view-day .events .event {
  position: absolute;
  left: 0;
  width: 200px;
  overflow: hidden;
}

.allday .event .event-info,
.calendar.view-week .events .event .event-info,
.calendar.view-day .events .event .event-info {
  padding: 0px 4px;
  height: 100%;
  border-top-width: 3px;
  border-style: solid;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 1px 2px 0px 2px;
  border-bottom: 2px solid #FFFFFF !important;
}
.calendar.view-day .events .event .event-info a:hover {
  text-decoration: underline;
}

.calendar.view-day .events .event.event_attandees .event-info {
  border-left-width: 20px;
  border-style: solid;
  border-color:#000 !important; 
}

.calendar.view-day .events .event.event_attandees.event_attandees_for_me .event-info {
  border-left-width: 20px;
  border-style: solid;
  border-color:#666 !important; 
}

.calendar.view-day .timeline {
  position: absolute;
  left: 0;
  width: 100%;
}
.calendar.view-day .timeline .icon {
  position: absolute;
  left: 10px;
  top: -5px;
  display: block;
  margin-left: 0;
}
.calendar.view-day .timeline .line {
  display: block;
  width: 92%;
  margin-left: 8%;
  border-top-width: 2px;
  border-top-style: dashed;
}

div.allday {
  clear: both;
  display: block;
  margin: 0 15px 0 64px;
  position: relative;
}

.allday .event {
  height: 20px;
  overflow: hidden;
}

.calendar.view-week .event span.time,
.allday .event span.time {
  display: none;
}

.calendar.view-project-stream .event {
  position: relative;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
.calendar.view-project-stream .box .event:last-child {
  border-bottom-width: 0;
}
.calendar.view-project-stream .event .event-info {
  padding: 10px;
}
.calendar.view-project-stream .event header figure {
  float: left;
  margin-right: 10px;
}
.calendar.view-project-stream .event header .title {
  margin: 0 0 0 10px;
  padding: 0 0 0 10px;
  border-left: 1px solid #fff;
  font-weight: bold;
}
.calendar.view-project-stream .event .content {
  clear: both;
  margin: 0 150px 0 50px;
}
.calendar.view-project-stream .event footer {
  position: absolute;
  right: 18px;
  top: 18px;
}




/******************************************************************** Week */
.calendar.view-week {

}
.calendar.view-week .wrapper {
  overflow: auto;
  position: relative;
  margin: 0 15px 15px 15px;
  height: 781px;
}
.calendar.view-week .grid {
}
.calendar.view-week .grid .weekday {
  display: inline-block;
  float: left;
  /* width: 13%; */
  width:  94px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.calendar.view-week .grid .weekday.first {
  /* width: 9%; */
  width: 64px;
}
.calendar.view-week .grid .weekday .title {
  padding: 0 0 8px 0;
  text-align: center;
  border-width:  1px;
  border-style: solid none none solid;
}
.calendar.view-week .grid .weekday:last-child .title,
.calendar.view-week .grid .weekday.last .title {
  border-style: solid solid none solid;
}

.calendar.view-week .grid .weekday .hours {
  border-width: 1px;
  border-style: none none solid solid;
}

.calendar.view-week .grid .weekday:last-child .hours,
.calendar.view-week .grid .weekday.last .hours {
  border-style: none solid solid solid;
}
.calendar.view-week .grid .weekday .hours .hour {
  display: block;
  border-width: 1px;
  border-style: solid none none none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.calendar.view-week .grid .weekday .hours .hour.title {
  height: 60px;
  padding: 0 6px 0 0;
  text-align: right;
}
.calendar.view-week .grid .weekday .hours .hour.box {
  height: 31px;
  margin-bottom: 29px;
  border-bottom-style: dashed;
}

.calendar.view-week .allday {
  margin-bottom: 0px;
  border-width:  1px;
  border-style: solid solid solid solid;
}

.calendar.view-week .events {
  position: absolute;
  top: 0px;
  left: 65px;
}
.calendar.view-week .events .event {
  position: absolute;
  left: 0;
  width: 90px;
/*
  padding: 5px;
  border-width: 1px;
  border-style: solid;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
*/
  overflow: hidden;
}



/******************************************************************** Month */
.calendar.view-month .boxes {
  height: 750px;
  margin: 0 15px 15px 15px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
.calendar.view-month .day {
  display: inline-block;
  float: left;
  width: 14%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.calendar.view-month .day:nth-child(7n+1), 
.calendar.view-month .day:nth-child(7n+7) {
    width: 15%;
}
.calendar.view-month .day.box {
  position: relative;
  height: 20%;
  border-width: 1px;
  border-style: solid solid none none;
}
.calendar.view-month .day:nth-child(7n+1) {
  border-left-style: solid;
}
.calendar.view-month .title, 
.calendar.view-month .date, 
.calendar.view-month .event {
  display: block;
  padding: 0 9px;
}
.calendar.view-month .event .event-entry {
  display: block;
  white-space: nowrap;
  overflow: hidden;
}
.calendar.view-month .date {
  padding-top: 9px;
}
.calendar.view-month .calendar-week {
  float: right;
  margin: 2px;
  padding: 0 2px;
}
.calendar.view-month .day.box.day-big {
  position: absolute;
  top: -20%;
  left: -40%;
  width: 180%;
  height: auto;
  min-height: 140%;
  z-index: 900;
  border-style: solid solid solid solid;
}
.calendar.view-month .day.box.day-big .close {
  position: absolute;
  top: 10px;
  right: 10px;
}

.calendar.view-month .day.box.day-big {
  background-color: #f6f7f7;
}




/******************************************************************** Customerplan */

ul.customerplan-months {
  clear: both;
  border-left: 1px solid #DEDEDE;
  overflow: hidden;
}
li.customerplan-month {
  display: block;
  float: left;
  background-color: #F6F7F7;
  border-top: 1px solid #DEDEDE;
  line-height: 25px;
  text-align: center;
  overflow: hidden;
}
li.customerplan-month span.label {
  display: block;
  border-right: 1px solid #DEDEDE;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
ul.customerplan-days {
}
li.customerplan-day {
  display: block;
  float: left;
  border-top: 1px solid #DEDEDE;
  border-right: 1px solid #DEDEDE;
  font-weight: bold;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
li.customerplan-day.weekday {
  background-color: #fff;
}
li.customerplan-day:first-child {
}

li.customerplan-day:last-child {
}

dl.customerplan-project {
  clear: both;
  display: block;
  width: 100%;
  background-color: #F6F7F7;
  border-top: 1px solid #DEDEDE;
  overflow: hidden;
}
dl.customerplan-project dt {
  display: block;
  float: left;
  height: 25px;
  padding: 0 0 0 15px;
  font-weight: bold;
  line-height: 25px;
  overflow: hidden;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

dl.customerplan-project .label-color-block {
  margin-top: -4px;
  margin-right: 10px;
}

dl.customerplan-project dd.customerplan-project-events {
  display: block;
  /* min-height: 30px; */
  height: 200px;
  border-left: 1px solid #DEDEDE;
  /* overflow: hidden; */
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

dl.customerplan-subproject-event dd,
dl.customerplan-project dd.customerplan-project-events div.customerplan-project-events-wrapper {
  width: 20000em;
  position: relative;
}

dl.customerplan-project dd.customerplan-subproject-events {
  clear: both;
}
dl.customerplan-subproject-event {
  display: block;
  width: 100%;  
  border-top: 1px solid #DEDEDE;
}
dl.customerplan-subproject-event dt {
  display: block;
  float: left;
  padding: 0 0 0 30px;
  font-weight: bold;
  line-height: 25px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
dl.customerplan-subproject-event dd {
  display: block;
  background-color: #fff;
  border-left: 1px solid #DEDEDE;
}
dl.customerplan-subproject-event dd:after {
  clear: both;
  content: '.';
  display: block;
  height: 0;
  visibility: hidden;
  font-size: 0px;
  line-height: 0;
}
dl.customerplan-project dd div.event-info, 
div.event-info.ui-draggable-dragging {
  position: absolute;
  padding: 0 5px;
  height: 25px;
  line-height: 23px;
  overflow: hidden;
  border-width: 1px;
  border-style: solid;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

dl.customerplan-project dd div.event-info a, 
div.event-info.ui-draggable-dragging a{
  color: #fff;
  display: block;
  width: 1000px;
}

div.event-info.ui-draggable-dragging {
  width: 200px;
}










/******************************************************************** Overview */
/******************************************************************** Flyout */
.calendar.view-overview header, 
.calendar.view-flyout header {
  position: relative;
  padding: 0 15px;
  text-align: center;
  line-height: 41px;
}
.calendar.view-overview section.content {
  padding: 15px;
}
.calendar.view-overview .column.first section.content {
  padding-right: 10px;
}
.calendar.view-overview .column.last section.content {
  padding-left: 10px;
}


.calendar.view-flyout section.content {
  padding: 6px;
}

/******************************************************************** Calendar */
.calendar table.overview {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
.calendar table.overview th, 
.calendar table.overview td {
  text-align: center;
}
.calendar table.overview th {
  padding: 3px 0;
}
.calendar table.overview td {
  border-width: 1px;
  border-style: solid;
}
.calendar table.overview td a {
  display: block;
  padding: 3px 0;
}
.calendar table.overview td.today a {
  padding: 2px 0;
  border-width: 1px;
  border-style: solid;
}



.calendar.view-month .calendar-week {
  display: none;
}
.calendar.view-month .day:nth-child(7n+1) .calendar-week {
  display: block;
}
.calendar.view-month .day.box.move:after {
  content: 'Klasse "move" beim verschieben';
}

/* Tabellen ********************************************************************
*******************************************************************************/
td.img1 {
  width: 40px;
}
td.img1 img {
  vertical-align: top;
}
.tbl1 td.img1 {
  padding-right: 0px;
}

.tbl1 {
  width: 100%;
  margin-bottom: 10px;
}
.tbl1 th, 
.tbl1 td {
  padding: 10px 15px;
  text-align: left;
  vertical-align: top;
}
.tbl1 thead th {
  background-color: #d8d8d8;
  font-weight: bold;
}
.tbl1 tbody td {
  background-color: #fff;
  border-bottom: 1px solid #dedede;
}
.tbl1 tbody tr:hover td {
  background-color: #f6f7f7;
}
.tbl1 th.label, 
.tbl1 td.label {
  padding: 0;
  width: 20px;
}
.tbl1 .title {
  font-weight: bold;
}

/* Clipboard - Clips */
.clips.tbl1 {
  margin-bottom: 0px;
}
.clips.tbl1 tr.clip td.clipname {
/*  width: 430px; */
}
.clips.tbl1 tr.clip td {
  padding-top: 10px;
  padding-bottom: 10px;
}
.clips.tbl1 tbody.released tr.clip td {
  padding-bottom: 5px;
}

.clips.tbl1 tbody.checked:hover td,
.clips.tbl1 tbody.checked td{
  background: #ee5;
}

.clips.tbl1 tr.clipinfo td {
  padding-top: 5px;
}
.clips.tbl1 tr.folder td {
  padding-top: 0;
  padding-bottom: 0;
}
.clips.tbl1 tbody {
  background-color: #fff;
  border-top: 1px solid #dedede;
  border-bottom: 0;
}
.clips.tbl1 tbody td {
  border-bottom: 0;
}
.clips.tbl1 tbody:hover td {
  background: #f6f7f7;
}
.clips.tbl1 .filesize {
  margin: 0 10px;
  color: #626d72;
}
.clips.tbl1 .datetime {
  color: #626d72;
}
.clips.tbl1 .clipinfo {
  color: #626d72;
}
.clips.tbl1 .url {
  margin: 0 0 0 40px;
}
.clips.tbl1 .bt {
  text-align: right;
}
.clips.tbl1 .foldername figure {
  float: left;
  margin: 7px 15px 0 0;
}
#clipboard_list .clips.tbl1:last-child {
  border-bottom: 1px solid #dedede;
}

.tbl1 tbody tr:hover td.inactive,
.tbl1 tbody td.inactive {
    background-color: #eeeeee;
}

.tbl2 {
  width: 100%;
}
.tbl2 th, 
.tbl2 td {
  border-bottom: 1px solid #dedede;
  height: 38px;
  text-align: center;
  vertical-align: middle;
}
.tbl2 th {
  background-color: #d8d8d8;
  font-weight: bold;
  white-space: nowrap;
}
.tbl2 tr th:first-child {
  padding-left: 15px;
  text-align: left;
}
.tbl2 td {
  background-color: #fff;
  border-bottom: 1px solid #dedede;
  border-left: 1px solid #e7e7e7;
}
.tbl2 td.highlighted {
  background-color: #f6f7f7;
}
.tbl2 tr:hover td {
  background-color: #f6f7f7;
}
.tbl2 tfoot th {
  background-color: #cecece;
}
.tbl2 tfoot td.highlighted {
  background-color: #d8d8d8;
}

.tbl2 th div, 
.tbl2 td div {
  text-align: left;
  white-space: normal;
}

.tbl2 .sl4, 
.tbl2 .sl4 .has-flyout {
  display: block;
  height: 100%;
}




.tbl3 {
  width: 100%;
}
.tbl3 th, 
.tbl3 td {
  border-bottom: 1px solid #dedede;
  height: 28px;
  text-align: center;
  vertical-align: middle;
}
.tbl3 th {
  background-color: #d8d8d8;
  border-left: 1px solid #dedede;
  font-weight: bold;
  white-space: nowrap;
}
.tbl3 th.highlighted {
  background-color: #f6f7f7;
}
.tbl3 th.lighter, 
.tbl3 th.weekend, 
.tbl3 td.weekend {
  background-color: #ebebeb;
}
.tbl3 tr th:first-child {
  padding-left: 15px;
  text-align: left;
}
.tbl3 td {
  background-color: #fff;
  border-bottom: 1px solid #dedede;
  border-left: 1px solid #e7e7e7;
}
.tbl3 td.weekend {
  border-left-color: #dedede;
}
.tbl3 td.highlighted {
  background-color: #f6f7f7;
}
.tbl3 tr:hover td {
  background-color: #f6f7f7;
}
.tbl3 tfoot th {
  background-color: #cecece;
}
.tbl3 tfoot td.highlighted {
  background-color: #d8d8d8;
}

.tbl3 th div, 
.tbl3 td div {
  text-align: left;
  white-space: normal;
}

.tbl3 .sl4, 
.tbl3 .sl4 .has-flyout {
  display: block;
  height: 100%;
}



table.addresses td.image {
  width: 55px;
}
table.addresses td.phone, 
table.addresses td.email {
  width: 200px;
}



table.projects td.customer {
  width: 150px;
}
table.projects td.name {

}
table.projects td.date {
  width: 100px;
}
table.projects td.admin {
  width: 100px;
}

/* Projektteilnehmer************************************************************
*******************************************************************************/
#projectusers_list table.projects td:nth-child(2) {
    width: 88px;
}
#projectusers_list table.projects td.project-perm-emails {
    width: 44px;
}
#projectusers_list table.projects td.project-perm-calendar_events {
    width: 116px;
}
#projectusers_list table.projects td.project-perm-calendar_jobs {
    width: 94px;
}
#projectusers_list table.projects td.project-perm-files {
    width: 47px;
}
#projectusers_list table.projects td.project-perm-admin {
    width: 39px;
}
#projectusers_list table.projects td:last-child {
    width: 67px;
}
/* Loader  *********************************************************************
*******************************************************************************/
.loader {
  position: absolute;
  top: 0;
  left: 0;  
  width: 100%;
  height: 100%;
}

/* Label  *********************************************************************
*******************************************************************************/

.selected-project .flyout .label-color-block,
.label-color-block {
  display: inline-block;
  height: 15px;
  margin-right: 5px;
  width: 10px;
  vertical-align: middle;
  border: 0px;
}

.label-color-text {
 padding:0px 12px;
}

.selected-project .label-color-block {
  border: 1px solid #adadae;
  margin: 3px 8px 4px 0;
}


/* Overlay  ********************************************************************
*******************************************************************************/

#overlay {
  height: 100%; 
  left: 0; 
  position: fixed; 
  top: 0; 
  width: 100%; 
  display: block; 
  opacity: 0.2; 
  background-color: #000000;
}



/*   *********************************************************************
*******************************************************************************/

ul.projects-customer-flyout li.customer ul {
  display: none;
}
ul.projects-customer-flyout li.customer-active ul {
  display: block;
}



.noheader header {
  display: none;
}

#clipboard-project-files-list .project-folder-path {
  margin-top: -10px;
  margin-bottom: 0px;
  background-color: #F4F3F5;
}
#clipboard-project-files-list .project-folder-path dl {
  padding-left: 18px;
}








.boxed-group > header {
    padding: 8px 15px;
    background-color: #d8d8d8;
}
.boxed-group > header h3 {
    font-weight: bold;
}

.boxed-group > .body {

}