

/* Suche  **********************************************************************
*******************************************************************************/
#header .search input[type=text] {
  float: left;
  width: 140px;
  height: 22px;
  margin: 0 4px 0 0;
  padding: 0 0 0 7px;
  line-height: 0;
}
#header .search a.search span {
  display: block;
}


/* E-Mail **********************************************************************
*******************************************************************************/
.email dl.data dd input[type=text] {
  float: left;
  width: 276px;
  height: 20px;
  border: 0;
  border-top-width: 1px;
  border-top-style: solid;
  border-left-width: 1px;
  border-left-style: solid;
}


/* Form 1 **********************************************************************
*******************************************************************************/
.yform {
  padding: 7px 15px 15px 15px;
}
.yform1.data:after,
.yform1.action:after {
  clear: both;
  content: '.';
  display: block;
  height: 0;
  visibility: hidden;
}
.yform1.data {
  clear: both;
  width: 100%;
  margin-top: 10px;
}
.yform form dl.form1.data:first-child {
  margin-top: 0;
}
.yform1.data .fafter,
.yform1.data .fbefore,
.yform1.data .fextra {
  clear: both;
  display: block;
}
.yform1.data .flabel,
.yform1.data .felement {
  display: block;
  float: left;
  width: 80px;
}
.yform1.data .felement {
  float: right;
  width: 253px;
}
.yform1.data-indent .flabel {
  width: 60px;
  margin-left: 20px;
}
.yform1-reverse.data .flabel,
.yform1-reverse.data .felement {
  float: left;
  width: 80px;
}
.yform1-reverse.data .flabel {
  float: right;
  width: 253px;
}
.yform1b.data .flabel {
  width: 174px;
}
.yform1b.data .felement {
  width: 163px;
}
.yform1b.data label {
  margin-right: 3px;
}

/* Checkbox Reverse */
.yform1-reverse.yform-checkbox .flabel {
  width: 248px;
  max-width: 248px;
}
.yform1-reverse.yform-checkbox .felement {
  width: 82px;
  max-width: 82px;
  text-align: right;
}

/* Captcha */
.yform1.yform-captcha .fextra .yform-captcha {
  display: block;
  margin-left: 88px;
  padding-top: 5px;
}
.yform1.yform-captcha .fextra .yform-captcha img {
}

.yform1.action {
  text-align: right;
}
.yform1.action li {
  display: inline;
}

#calendar_event_add_form .yform-textarea textarea,
#calendar_event_edit_form .yform-textarea textarea {
  height:45px;
}

#calendar_event_add_form .yform-textarea textarea[name=description],
#calendar_event_edit_form .yform-textarea textarea[name=description] {
  height: 45px;
}





/* Form - Elemente *************************************************************
*******************************************************************************/
.yform .yform1.yform-date input[type=text],
.yform .yform1.yform-number input[type=number],
.yform .yform1 input[type=text],
.yform .yform1 input[type=password],
.yform .yform1 select[multiple=multiple],
.yform .yform1 textarea,
.yform .yform2 input[type=text],
.yform .yform2 textarea {
  width: 252px;
  max-width: 252px;
  height: 22px;
  padding: 0 6px;
  border: 0;
  border-top-width: 1px;
  border-top-style: solid;
  border-left-width: 1px;
  border-left-style: solid;
  vertical-align: top;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 100%;
}
.yform .yform1 select {
  width: 252px;
  max-width: 252px;
}
.yform .yform1 select[multiple=multiple] {
  height: auto;
}
.yform .yform1 textarea,
.yform .yform2 textarea {
  padding-top: 6px;
  padding-bottom: 6px;
  height: 100px;
}
.yform .yform2 textarea {
  height: 50px;
}

.yform .yform1.yform-date input[type=text],
.yform .yform2 input[type=text],
.yform .yform2 textarea {
  float: left;
  width: 82px;
  max-width: 82px;
  margin-right: 6px;
}
.yform .yform1.yform-number input[type=number] {
  float: left;
  width: 42px;
  max-width: 42px;
  margin-right: 6px;
}
.yform .yform1b input[type=text] {
  width: 163px;
  max-width: 163px;
}

.yform .yform1.yform-submit {
  text-align: right;
}
.yform .yform1 .yform-select-datetime-year,
.yform .yform1 .yform-select-datetime-month,
.yform .yform1 .yform-select-datetime-day,
.yform .yform1 .yform-select-datetime-hour,
.yform .yform1 .yform-select-datetime-minute {
    width: auto;
    margin: 0 3px;
}
.yform .yform1.yform-datetime select:first-child {
    margin-left: 0;
}



.data.sl1-navi-butler .navi-butler, 
.data.fdate1-sl3-sl1-navi-butler .navi-butler, 
.data.fnumber1-fwording1-fnavi-butler .navi-butler {
  padding-top: 10px;
}
.data.sl1-navi-butler .sl1, 
.data.fdate1-sl3-sl1-navi-butler .sl3 {
  float: left;
}
.data.fdate1-sl3-sl1-navi-butler .sl1 {
  float: right;
}

.data.fsl1-fnumber1-fwording1 .fsl1.w5 {
  float: left;
  margin-right: 10px;
}
 
.data.fsl1-fsl1 .fsl1.w5, 
.data.sl1-fdate1-sl3 .sl1.w5 {
  float: left;
  margin-right: 10px;
}

.data.fnumber1-sl1 .sl1 {
  float: left;
}




/* Formular 2 spaltig **********************************************************
*******************************************************************************/

.design2col .yform1.data.yform-checkbox .flabel,
.design2col .yform .felement,
.design2col .yform .yform1.yform-date input[type="text"],
.design2col .yform .yform1.yform-number input[type="number"],
.design2col .yform .yform1 input[type="text"],
.design2col .yform .yform1 input[type="password"],
.design2col .yform .yform1 select[multiple="multiple"],
.design2col .yform .yform1 textarea,
.design2col .yform .yform2 input[type="text"],
.design2col .yform .yform2 textarea {
  width: 600px;
  max-width: 600px;
}
.design2col .yform .yform1 select {
  width: 600px;
  max-width: 600px;
}

.design2col .yform .yform-checkbox .felement,
.design2col .yform1.data .flabel {
    width: 100px;
}



/* Einfaches Suchform **********************************************************
*******************************************************************************/
.yform-search-small {
  padding: 0 10px 9px 10px;
  overflow: hidden;
}
.yform-search-small .data {
  margin-top: 9px;
}
.yform-search-small .data .flabel,
.yform-search-small .data .felement {
  float: none;
  width: auto;
}
.yform-search-small .data.yform-text {
  float: left;
}
.yform-search-small .data.yform-submit {
  float: right;
}
.yform-search-small .data.yform-text input[type="text"] {
  width: 100%;
}

.popbox .yform-search-small {
  width:270px;
  display:block;
  float:right;
}

.popbox .yform-search-small .data.yform-text {
  float: left;
  width: 230px;
}
.popbox .yform-search-small .data.yform-text:after {
  clear: none;
}
.popbox .yform-search-small .data.yform-text .flabel {
  display: none;
}
.popbox .yform-search-small .data.yform-submit {
  clear: none;
  float: left;
  margin: 7px 0 0 10px;
  width: auto;
}
.popbox .yform-search-small .data.yform-submit input {
  width: 22px;
}




.yform .data .flabel .notice {
    margin-left: 5px;
    margin-right: 5px;
    color: #626d72;
    font-style: normal;
    font-weight: 400;
}
.yform .data .flabel .notice:first-child {
    margin-left: 0;
}
.yform .data .flabel .notice:last-child {
    margin-left: 5px;
    margin-right: 0;
}