
.labelc5 { background-color:#0f5dca !important; }
.labelb5 { border-color:#0c52b3 !important; }
.labelc21 { background-color:grey !important; }
.labelb21 { border-color:grey !important; }
.labelc7 { background-color:#d21b20 !important; }
.labelb7 { border-color:#b20000 !important; }
.labelc2 { background-color:#119194 !important; }
.labelb2 { border-color:#0d797a !important; }
.labelc4 { background-color:#678820 !important; }
.labelb4 { border-color:#536e1a !important; }
.labelc3 { background-color:#822388 !important; }
.labelb3 { border-color:#300c32 !important; }
.labelc1 { background-color:#fcb819 !important; }
.labelb1 { border-color:#e3a617 !important; }