
.labelc1 { background-color:#fcb819 !important; }
.labelb1 { border-color:#e3a617 !important; }
.labelc2 { background-color:#e118fc !important; }
.labelb2 { border-color:#cb17e3 !important; }
.labelc3 { background-color:#119194 !important; }
.labelb3 { border-color:#0d797a !important; }
.labelc4 { background-color:#678820 !important; }
.labelb4 { border-color:#536e1a !important; }
.labelc5 { background-color:#0f5dca !important; }
.labelb5 { border-color:#0c52b3 !important; }
.labelc7 { background-color:#aa6600 !important; }
.labelb7 { border-color:#950c00 !important; }